@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --temaClaroCor1--: #FFF78A;
    --temaClaroCor1transp--: #fff78a9c;
    --temaClaroCor2--: #FFAD84;
    --temaClaroCorTexto--: #000000;

    /*cores de fundo*/
    --azul-claro--: #c0f1ed;
    --azulMaisClaro--: #b2efe8;
    --verde--: #2aa972;

    /* formulario */
    --amarelo--: #fff78a47;
    --bordaVermelha--: #E5BABA33;
    --sombraBox--: #000000c7;
    --laranja--: #ffad846e;
    --corLetraFormulario--: #000000;
    --fundoFormulario--: #ffffff33;

    --fundoImagem: url(/img/dia.jpeg);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    color: var(--temaClaroCorTexto--);
}


.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--azul-claro--);
     background: -moz-linear-gradient(180deg,
     var(--azul-claro--) 0%,
     var(--azulMaisClaro--) 35%,
     var(--verde--) 100%);
     background: -webkit-linear-gradient(180deg, 
     var(--azul-claro--) 0%,
     var(--azulMaisClaro--) 35%,
     var(--verde--) 100%);
     background: linear-gradient(180deg,
     var(--azul-claro--) 0%,
     var(--azulMaisClaro--) 35%,
     var(--verde--) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0f1ed",endColorstr="#2aa972",GradientType=1);
   }


.caixaGeral{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
        width: 80rem;
        height: 55rem;
        background-image: var(--fundoImagem);
        background-size: cover; 
        background-repeat: no-repeat;
        border-radius: 2rem;
}

.fa-circle-plus:before,
.fa-circle-plus{
  color: #ffad84;
}

.caixaPessoas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    
}

.botao{
    display: flex;
    padding-top: 15px;
}

.menosH{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}
.maisH{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}

.menosM{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}
.maisM{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}

.menosC{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}

.maisC{
    height: 30px;
    width: 30px;
    background-color: #FFAD84;
    border: none;
}

.people{
    margin: 18px;
}

.homem{
    padding: 10px;
    background: var(--temaClaroCor1transp--);
    padding: 2em;
    margin: 20px;
    border-radius: 20px;
    border-left: 1px solid  var(--bordaVermelha--);
    border-top: 1px solid var(--bordaVermelha--);
    /* backdrop-filter: blur(10px); */
    box-shadow: -3px 3px 20px -7px var(--sombraBox--);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.pHomem{
    width: 45px;
}

.mulher{
    padding: 10px;
    background: var(--temaClaroCor1transp--);
    padding: 2em;
    margin: 20px;
    border-radius: 20px;
    border-left: 1px solid  var(--bordaVermelha--);
    border-top: 1px solid var(--bordaVermelha--);
    /* backdrop-filter: blur(10px); */
    box-shadow: -3px 3px 20px -7px var(--sombraBox--);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.pMulher{
    width: 45px;
}

.crianca{
    padding: 10px;
    background: var(--temaClaroCor1transp--);
    padding: 2em;
    margin: 20px;
    border-radius: 20px;
    border-left: 1px solid  var(--bordaVermelha--);
    border-top: 1px solid var(--bordaVermelha--);
    /* backdrop-filter: blur(10px); */
    box-shadow: -3px 3px 20px -7px var(--sombraBox--);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.pCrianca{
    width: 45px;
}

.trocadilhoTitulo, .trocadinhoTexto{
    margin-top: 30px;
    padding: 10px; 
    border-radius: 15px; 
    background: var(--temaClaroCor1transp--);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.centraliza-botao{
    text-align: center
}

.calcular{
    background-color: var(--temaClaroCor2--);
    text-decoration: none;
    border: none;
    width: 8em;
    height: 4em;
    margin: 4em;
    border-radius: 2em;
}

a{
    text-decoration: none;
}

/* botão para modo escuro */

.con{
    left: 70%;
    position: absolute;
    top: 11%;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  
  .text-center {
    text-align: center !important; }
  
  .inicio {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
  }
  
  .toggle {
    position: relative;
    display: block;
    width: 50px;
    height: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    .toggle:before {
      content: "";
      text-align: right;
      position: relative;
      top: 3px;
      left: 3px;
      width: 30px;
      height: 22px;
      font-size: 10px;
      display: block;
      background: #e6e6e6;
      border-radius: 30px;
      -webkit-transition: background .2s ease;
      -o-transition: background .2s ease;
      transition: background .2s ease;
      padding: 2px 8px; }
    .toggle span {
      position: absolute;
      top: 4px;
      left: 0;
      width: 24px;
      height: 24px;
      display: block;
      background: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
      .toggle span:before {
        font-family: 'Fontawesome';
        content: '\f186';
        position: absolute;
        display: block;
        margin: 0;
        width: 24px;
        height: 24px;
        background: #000;
        border-radius: 50%;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        pointer-events: none;
        color: var(--temaClaroCorTexto--); }
  
  #cbx:checked + .toggle:before,
  #cbx2:checked + .toggle:before {
    background: #f6d379;
    content: '';
    text-align: left;
    color:  var(--temaClaroCorTexto--); }
  
  #cbx:checked + .toggle span,
  #cbx2:checked + .toggle span {
    background: #f1bc31;
    -webkit-transform: translateX(31px);
    -ms-transform: translateX(31px);
    transform: translateX(31px);
    -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    -webkit-box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7);
    box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7); }
    #cbx:checked + .toggle span:before,
    #cbx2:checked + .toggle span:before {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
      font-family: 'Fontawesome';
      content: '\f185';
      background: #f1bc31;
      color: var(--temaClaroCorTexto--); }


      .temaEscuro {
        --temaClaroCor1--: #F2613F;
        --temaClaroCor1transp--: #f2603f81;
        --temaClaroCor2--: #FFAD84;
        --temaClaroCorTexto--: #ffffff;
    
        /*cores de fundo*/
        --azul-claro--: #02074e;
        --azulMaisClaro--: #040130;
        --verde--: #073d02;
    
        /* formulario */
        --amarelo--: #f2603f8c;
        --bordaVermelha--: #46000033;
        --sombraBox--: #d4d3d3c7;
        --laranja--: #9b382271;
        --corLetraFormulario--: #ffffff;
        --fundoFormulario--: #0000001c;
        --fundoImagem--: url(/img/noite.jpeg)
    }
    
    .temaEscuro .caixaGeral {
        background-image: var(--fundoImagem--);
    }