*{
 margin: 0;
 padding: 0;
 font-family: "Roboto Mono", monospace;
 font-optical-sizing: auto;
 font-weight: weight;
 font-style: normal;
}


.inicio{
 display: flex;
 align-items: center;
 justify-content: center;
 background: var(--azul-claro--);
  background: -moz-linear-gradient(180deg,
  var(--azul-claro--) 0%,
  var(--azulMaisClaro--) 35%,
  var(--verde--) 100%);
  background: -webkit-linear-gradient(180deg, 
  var(--azul-claro--) 0%,
  var(--azulMaisClaro--) 35%,
  var(--verde--) 100%);
  background: linear-gradient(180deg,
  var(--azul-claro--) 0%,
  var(--azulMaisClaro--) 35%,
  var(--verde--) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c0f1ed",endColorstr="#2aa972",GradientType=1);
}


.caixaGeral{
 margin-top: 5rem;
 display: flex;
 flex-direction: column;
 flex-wrap: nowrap;
 align-content: space-around;
 align-items: center;
 width: 80rem;
 height: 55rem;
 background-image: url(--fundoImagem);
 background-size: cover; 
 background-repeat: no-repeat;
 border-radius: 2rem;
 
}

.localstorage-dados{
  display: flex;
  align-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--verde--);
}

.contain {
 width: 30rem;
 transform: translate(-50%,-42%);
 position: absolute;
 top: 50%;
 left: 50%;
}

.formulario {
 background: var(--amarelo--);
 padding: 3em;
 border-radius: 20px;
 border-left: 1px solid  var(--bordaVermelha--);
 border-top: 1px solid var(--bordaVermelha--);
 /* backdrop-filter: blur(10px); */
 box-shadow: -3px 3px 20px -7px var(--sombraBox--);
 text-align: center;
 position: relative;
 transition: all 0.2s ease-in-out;
}

.formulario:hover {
 margin: 4px;
}

::placeholder {
 font-family: Montserrat, sans-serif;
 font-weight: 400;
 color: #ffffff;
 text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.drop {
 background: var(--laranja--);
 backdrop-filter: blur(10px);
 border-radius: 30px;
 border-left: 1px solid white;
 border-top: 1px solid white;
 box-shadow: -2px 3px 20px 0px var(--sombraBox--);
 position: absolute;
 transition: all 0.2s ease;
}

.drop-1 {
 height: 80px;
 width: 80px;
 top: -20px;
 left: -40px;
 z-index: -1;
}

.drop-2 {
 height: 80px;
 width: 80px;
 bottom: -30px;
 right: -10px;
}

.drop-3 {
 height: 100px;
 width: 100px;
 bottom: 120px;
 right: -50px;
 z-index: -1;
}

.drop-4 {
 height: 120px;
 width: 120px;
 top: -60px;
 right: -60px;
}

.drop-5 {
 height: 60px;
 width: 60px;
 bottom: 170px;
 left: 90px;
 z-index: -1;
}

table {
 width: 375px;
 border-collapse: collapse;
 overflow: hidden;
}

td{
 text-align: start;
}

th,
td {
 padding: 15px;
 color: var(--corLetraFormulario--);
}

th {
 text-align: left;
}

tr:hover { 
 background-color: var(--fundoFormulario--);
   }

 td:hover
 td::before{
 position: relative;
 content: "";
 position: absolute;
 left: 0;
 right: 0;
 top: -9999px;
 bottom: -9999px;
 background-color: var(--fundoFormulario--);
 z-index: -1;
}

/* botão para modo escuro */

.con{
  left: 70%;
  position: absolute;
  top: 11%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.text-center {
  text-align: center !important; }

.inicio {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .toggle:before {
    content: "";
    text-align: right;
    position: relative;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 22px;
    font-size: 10px;
    display: block;
    background: #e6e6e6;
    border-radius: 30px;
    -webkit-transition: background .2s ease;
    -o-transition: background .2s ease;
    transition: background .2s ease;
    padding: 2px 8px; }
  .toggle span {
    position: absolute;
    top: 4px;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .toggle span:before {
      font-family: 'Fontawesome';
      content: '\f186';
      position: absolute;
      display: block;
      margin: 0;
      width: 24px;
      height: 24px;
      background: #000;
      border-radius: 50%;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      pointer-events: none;
      color: #fff; }

#cbx:checked + .toggle:before,
#cbx2:checked + .toggle:before {
  background: #f6d379;
  content: '';
  text-align: left;
  color: #fff; }

#cbx:checked + .toggle span,
#cbx2:checked + .toggle span {
  background: #f1bc31;
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
  -webkit-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -o-transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
  -webkit-box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7);
  box-shadow: 0 3px 8px rgba(241, 188, 49, 0.7); }
  #cbx:checked + .toggle span:before,
  #cbx2:checked + .toggle span:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    font-family: 'Fontawesome';
    content: '\f185';
    background: #f1bc31;
    color: #000; }